.h{
    background-color: rgb(220, 93, 136);
    justify-content: center;
    align-items: center;
}
.l1{
    display: inline-block;
    
}

.c2 img{
    width: 230px;
    margin-top: 30px;
}
.logo img{
    width: 300px;
    margin-top: 0px;
    
}
.c0{
    color: aliceblue;
    width: 1000px;
    font-size: 100px;
    font-weight: 800;
    margin-top: 100px;

}
.c1{
    color: aliceblue;
    width: 1000px;
    font-size: 54px;
    font-weight: 800;
    margin-top: 20px;
    
}
.c4 img{
    width: 300px;
    color: aliceblue;
    background-color: aliceblue;
    border-radius: 50px;
}
.c5{
    background-color: aliceblue;
    width: 450px;
    color: rgb(220, 93, 136);
    background-color: aliceblue;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 800;
}
.f{
    margin-top: 30px;
    background-color:rgb(249, 152, 184) ;
    width: 1300px;
    border-radius: 100px;
}
.f1{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin-top: px;
    font-size: 50px;
}
.f2 img{
    width: 1000px;
}
.d2{
    background-color: aliceblue;
    border-radius: 50px;
    width: 500px;
    
    padding: 15px;
    font-size: 40px;
    color:  rgb(220, 93, 136);
    font-weight: 600;
    
}
.d2:active{
    background-color: rgb(220, 93, 136) ;
    color: aliceblue;
}
.G{
    color: aliceblue;
}